.button {
    background-color: $green;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;   
    user-select: none;

    &:hover {
        background-color: $hover-green;
    }
}